.customInputFull{
    height: 55px;
    width: 100%;
    padding: 10px;
    margin: 10px
  }
.customInputHalf{
    margin: 10px;
    width: 179px;
    height: 55px;
    padding: 10px
}
.mainDiv{
    margin: 0 auto;
    width: 380px
}
@media screen and (max-width:600px) {
    .customInputHalf{
        width: 139px
    }
    .mainDiv{
        width: 300px
    }
}